{% extends "base.html" %}

{% block load_static %}
    {% load static %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% endblock %}

{% block content %}
    <div class="nav justify-content-end">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == "/login/" %}active{% endif %}" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == "/register/" %}active{% endif %}" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
    </div>
    <div class="container basic-page-layout">
        {% block sub_content %}{% endblock %}
    </div>
{% endblock %}
