{% extends "app.html" %}

{% block title %}Home{% endblock %}

{% block script %}
  <script src="static/scripts/home.js"></script>
{% endblock %}

{% block sub_content %}
    <div class="container">
        <span>Your email: </span>
        {% if user.is_authenticated and user.email %}
          <span id="display_current_email">{{ user.email }}</span>
        <div class="container">
          <button id="toggle_modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#userUpdateModal">
              Modify user
          </button>
        </div>
        {% endif %}
    </div>

    <div class="modal fade" id="userUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="alert" class="alert hide alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="form-group">
                <label for="id_current_email">Current Email:</label>
                <input type="email" id="id_current_email" name="current_email" class="form-control" disabled value="{{ user.email }}">
              </div>
              <form id="email_form" action="/update/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.new_email.errors }}
                    {{ form.new_email.label_tag }}
                    {{ form.new_email }}
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>

          </div>
        </div>
      </div>
{% endblock %}