{% extends "app.html" %}

{% block title %}Login{% endblock %}

{% block sub_content %}
<div class="base-form">
    <div class="h1 text-center">Login</div>
    <form action="/login/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.password.errors }}
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="small mt-3"><a href="{% url 'register' %}">No account yet ? Sign up here !</a></div>
</div>
{% endblock %}