{% extends "app.html" %}

{% block title %}
Register
{% endblock %}

{% block sub_content %}
    <div class="base-form">
        <form action="/register/" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                {{ form.email }}
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                {{ form.password1.errors }}
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="form-group">
                {{ form.password2.errors }}
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="small mt-3"><a href="{% url 'login' %}">Already have an account ? Log in here !</a></div>
    </div>
{% endblock %}